@using LinkShortener.Domain.ViewModels.Link
@using LinkShortener.Application.Utilities
@model List<LinksViewModel>
@{
    ViewData["Title"] = "DashBoard";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
     
    </div>
</div>

@if (Model != null && Model.Any())
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th>URL</th>
            <th>Token</th>
            <th>Shorten Link</th>
            <th>CreateDate</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var link in Model)
        {
            <tr>
                <td>@link.OriginalUrl</td>
                <td>@link.Token</td>
                <td>@link.Value</td>
                <td>@link.CreateDate.ToShamsi()</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <p>No Links Yet !</p>
    </div>
}